RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

# Protect the htaccess file
<Files ".htaccess">
       Order Allow,Deny
       Deny from all
</Files>

# Protect the git folder
<Directory .git>
          Order allow,deny
          Deny from all
</Directory>

# Stop hotlinking
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?google.com/.*$ [NC]
RewriteRule \.(jpg|png)$ https://x7y8v4y2.stackpathcdn.com/wp-content/uploads/2013/05/hotlinking.gif[R=302,L]

# Prevent directory listings
Options All -Indexes
